<div class="col-xs-12 col-sm-6 col-md-4 ">
	<div class="search-panel panel panel-default">
		<div class="panel-heading">
			<span class="title">{% block PanelTitle %}Search Options{% endblock %}</span>
			<span class="title-search" style="display: none;">{% block SearchField %}{% endblock %}</span>
		</div>
		<div class="panel-body">
			{% block PanelBody %}
			{% endblock %}
		</div>
	</div>
</div>