{% extends "base.twig" %}

{% set js_files = ['search.js', 'manage.js'] %}
{% if extra_js_files is defined %}
	{% set js_files = js_files|merge(extra_js_files) %}
{% endif %}

{% block Body %}
	{% block Navigation %}
		{% include "navigation.twig" %}
	{% endblock %}

	<div id='MainContent'>
		{% block MainContentBlock %}
		{% endblock %}
	</div>

	{% block Footer %}
		{% include "footer.twig" %}
	{% endblock %}
{% endblock %}
