{% set Type = 'time' %}
{% set Value = Value %}
{% extends "_generic/base_form_element.twig" %}
{% set UsePreAddon = true %}

{% block PreAddon %}<span class="input-group-addon" id="date-addon1"><i class="fa fa-clock-o"></i></span>{% endblock %}
