<div id="global_search_bar">

	{% block SearchBarTitle %}
		<h1>{{ SearchTitle }}</h1>
	{% endblock %}


	{% if IsManager %}
		{% block SearchBarQuickSearch %}
			<div id="panel_quick_search">
				<input type="text" id="txt_quick_search" placeholder="Quick Search..." value="" />
				<a id="a_show_full_search" href="javascript:">more...</a>
			</div>
		{% endblock %}

		{% block SearchBarFullResults %}
			<div id="panel_full_search" style="display: none;">
				{% set IsManager = false %}
				{% set SubPage = true %}
				{% include DataPath ~ "/index.twig" %}
			</div>
		{% endblock %}

		<div id="panel_search_buttons">
			{% block SearchBarButtons %}
				<input type="button" class="search_bar_button button_modern button_green" id="btn_panel_search_save" value="Save"/>
				<input type="button" class="search_bar_button button_modern button_red" id="btn_panel_search_discard" value="Cancel"/>
				{% block SearchBarExtraButtons %}
				{% endblock %}
			{% endblock %}
		</div>
	{% endif %}
</div>