{% from '_generic/macros.twig' import sortheader %}

{% spaceless %}

    {% block AboveResultTable %}{% endblock %}

    {% if not_searched %}
        <span>Enter criteria and click Search above</span>
    {% elseif count == 0 %}
        <span>No results found so far. Please try changing your search criteria.</span>
    {% else %}
        {% block FullSearchResults %}
            {% if ExcelExport is defined and ExcelExport == true %}
                <table class="ListValues ResultsTable" data-excel-sheet="true" data-excel-sheet-title="{{ ExcelTitle }}" >
            {% else %}
                {% block ResultHeader %}
                {% endblock %}

                {% block AboveResultPagination %}{% include '_extend/pagination.twig' with { "Top": true } %}{% endblock %}

                <table class="table table-striped table-bordered table-hover table-condensed" >
            {% endif %}
            <thead class="search-results-header">
            <tr>
                {% block Header %}{% endblock %}
            </tr>
            </thead>
            <tbody class="selection_rows">
            {% for Row in table_rows %}
                <tr data-id="{% if Row.Id %}{{Row.Id}}{% else %}{{Row.id}}{% endif %}" class="selection_row {% block RowClasses %}{% endblock %}" {% block RowData %}{% endblock %}>
                    {% block Row %}{% endblock %}
                </tr>
            {% endfor %}
            </tbody>
            </table>
        {% endblock %}

	    {% block BelowResultPagination %}{% include '_extend/pagination.twig' with { "Top": false }  %}{% endblock %}

    {% endif %}


	{% block BelowResultTable %}{% endblock %}

{% endspaceless %}