<div id='MainNavigation'>
	<ul>
		<li>
			<a href='#'>
				<div class='MenuItem'>Home</div>
			</a>
		</li>
		<li>
			<a href='{{ system.paths.controller }}user/'>
				<div class='MenuItem'>Users</div>
			</a>
		</li>
		<li>
			<a href='{{ system.paths.controller }}welcome/index/?login_action=logout'>
				<div class='MenuItem'>Logout</div>
			</a>
		</li>
	</ul>
</div>