{% extends "secured.twig" %}

{% set web1_js_files = web1_js_files is defined ? web1_js_files : {} %}
{% set web1_js_files = { "base_search" : [Options.DataPath ~ '/index.js', Options.DataPath ~ '/manage.js'] } | merge( web1_js_files ) %}

{% block MainContentBlock %}
    {% include "_search/settings.twig" with { 'ContainerClass': 'Manage', 'SearchBar' : true } %}
    {% block SearchBar %}
        {% include "_search/search_bar.twig" %}
    {% endblock %}

    <div class="panel_content">
        <form id="form_user">
            <input type="hidden" name="ParentId" class="ParentId" value="{{ ParentObjectId }}" />
            <input type="hidden" name="ParentType" class="ParentType" value="{{ ParentObjectType }}" />

            <div class="ui-widget-content ui-corner-all" style="padding: 10px;">
                {{ help() }}
                {% block ManageBlock %}
                {% endblock %}
            </div>

            {% block ManageContents %}
            {% endblock %}
        </form>
    </div>

    </div>
{% endblock %}