html, body {
	/*height: 100%;*/
	margin: 0 0 1px;
	padding: 0;
}

body {
	background-color: #fff;
	font-family: Lucida Grande, Verdana, Sans-serif;
	font-size: 12px;
	color: #4F5155;
}
.ListValues {
	width: 100%;
}

.itemSelector:hover {
	background-color: #aaaaff;
}
.Warning {
	background-color: red;
}


#MainNavigation {
	background-color: #ececec;
	position: fixed;
	height: 100%;
	width: 8em;
	top: 30px;
}

	#MainNavigation ul {
		padding: 0;
	}
		#MainNavigation ul li {
			border-width: 1px 0;
			border-style: solid none;
			list-style-type: none;
			border-top-color: #f9f9f9;
			border-bottom-color: #dfdfdf;
		}
			#MainNavigation ul li a {
				color: #21759b;
				display: block;
				font-weight: bold;
				text-decoration: none;
				width: 100%;
			}
			#MainNavigation ul li:hover {
				background-color: #e4e4e4;
			}
			#MainNavigation ul li .MenuItem {
				padding: 10px;
			}

#MainContent {
	padding-left: 8em;
}
	#MainContent #global_search_bar {
		position: fixed;
		background-color: black;
		width: 100%;
		left: 0px;
	}
		#MainContent #global_search_bar h1 {
			float: left;
			font-size: 1.3em;
			width: 300px;
		}
	#MainContent #panel_quick_search {
		float: left;
	}
	#MainContent #panel_full_search {
		float: left;
	}
	#MainContent #panel_full_search {
		position: fixed;
		top: 40px;
		left: 0em;
		width: 100%;
		background-color: #aaa;
	}
	#MainContent #panel_search_buttons {
		float: right;
	}
	#MainContent .panel_content {
		padding-top: 40px;
	}

#PageFooter {
	botttom: 0px;
	color: #aaa;
	font-size: 0.7em;
	position: absolute;
	text-align: center;
	width: 100%;
}