{% extends "_search/base_search_results.twig" %}

{% block Header %}
	<th>Name</th>
	<th>EMail Address</th>
{% endblock %}

{% block Row %}
	<td class="itemSelector">{{ Row.name }}</td>
	<td>{{ Row.username }}</td>
{% endblock %}