<div class="navbar navbar-default navbar-fixed-top navbar-inverse" id="main-navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button> <a class="navbar-brand" href="/calendar2/">Trunk Software</a>
		</div>

		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Manage <b class="caret"></b></a>

					<ul class="dropdown-menu">
						<li><a href="/user" class="">Users</a></li>
					</ul>
				</li>

				<li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">System <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="/system/category" class="">Categories</a></li>
					</ul>
				</li>
			</ul>
			<form class="nav navbar-form navbar-left" role="search">
				<div class="form-group">
					<input type="text" class="typeahead form-control global-search" placeholder="Search">
				</div>
				<button type="submit" class="btn btn-primary">Advanced</button>
			</form><i class="icon-cog"></i>

			<ul class="nav navbar-nav navbar-right nav-icons">
				<li><a href="/welcome/index/?login_action=logout"><i class="fa fa-sign-out"></i></a></li>
			</ul>
		</div>
		<!--/.nav-collapse -->
	</div>
</div>
